<div class="container">
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<h1>User ID: <%= @user.id %></h1>
		</div>
	</div>
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<h3>First Name: <%= @user.first_name %></h3>
			<h3>Last Name: <%= @user.last_name %></h3>
			<h3>Email: <%= @user.email_address %></h3>
		</div>
		<br>
		<a href="/user/<%= @user.id %>/edit" class="btn btn-success">Edit</a> | <a href="/users/index" class="btn btn-default">Back</a>
	</div>
</div>